<div class="container">
<div class="row" id="rowMain">
  <div class="header"></div>
<h1>Mor-ganic</h1>
<h2>Search hazardous ingrediants and Nutrition facts for your favorite food products by barcode or name.</h2>
<h3>Do you know what cancer producing toxins you're probably eating?</h3>
</div>
<div class="btn-group" id="homeButtons">
  <button class="btn btn-default btn-lg"  id="searchHome"  type="button" data-toggle="button"><a ui-sref="search">Search</a>
  </button>
<button class="btn btn-default btn-lg" id="uploadHome" type="button" data-toggle="button"><a ui-sref="upload">Upload</a>
  </button>

  <button class="btn btn-default btn-lg" id="cookHome" type="button" data-toggle="button"><a ui-sref="cook">Cook</a>
  </button>

  <button class="btn btn-default btn-lg" id="groceriesHome" type="button" data-toggle="button"><a ui-sref="groceries">Groceries</a>
  </button>

  <button class="btn btn-default btn-lg" id="eatOutHome" type="button" data-toggle="button"><a ui-sref="eat">Eat Out</a>
  </button>

  <button class="btn btn-default btn-lg" id="growHome" type="button" data-toggle="button"><a ui-sref="grow">Grow</a>
  </button>
  
  <button class="btn btn-default btn-lg" id="farm" type="button" data-toggle="button"><a ui-sref="farms">Farms</a>
  </button>
  
  <button class="btn btn-default btn-lg"  id="donateHome" type="button" data-toggle="button"><a ui-sref="donate">Donate</a>
  </button>
<button class="btn btn-default btn-lg" id="signUpHome" type="button" data-toggle="button"><a ui-sref="signUp">Sign-Up</a>
  </button>
  </div>
</div>
</div>