<input type="image" id="homeButton" <a ui-sref="homepage" src="./assets/homeblue.png"></a>
<input type="image" id="uploadButton" <a ui-sref="homepage" src="assets/Greenupload.png"></a>
<div class="search-box-wrapper">
  <input type="text" class="search-box-input">
  <button class="search-box-button">&#128269;</button>
</div>
<img src="./assets/apppic.jpg" id="searchImage" class="img-rounded" alt="default">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <ul>
        <li><a href="url">Modified corn starch</a></li>
        <li><a href="url">Perserveitives</a></li>
        <li><a href="url">Potassium Briomite 50mg</a></li>
        <li><a href="url">Hydrolized Oils 50g</a></li>
        <li><a href="url">Maltodextrin</a></li>
        <li><a href="url">BHT</a></li>
        <li><a href="url">EDTA</a></li>
      </ul>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between" id="searchList">
      <ul>
        <li><a href="url">Modified corn starch</a></li>
        <li><a href="url">Perservitives</a></li>
        <li><a href="url">Potassium Briomite 50mg</a></li>
        <li><a href="url">Hydrolized Oils 50g</a></li>
        <li><a href="url">Maltodextrin</a></li>
        <li><a href="url">BHT</a></li>
        <li><a href="url">EDTA</a></li>
      </ul>
    </div>
  </a>
  </div>



  <div class="row">
    <div class="col sm-2" id="buttonRow">
      <input type="image" id="homeButton" src="./assets/homeblue.png">
      <input type="image" id="homeButton" src="./assets/Greenupload.png">
    </div>
  </div>